@media (max-width: 550px) {
  .header-logo {
    width: 90px;
  }

  .header-nav {
    margin: 0 25px;
  }

  .intro-text-container > h2 {
    margin: 63px 20px 0px 20px;
    font-size: 1.8em;
  }

  .intro-text-container > h4:nth-child(2n) {
    margin-top: 13px;
    font-size: 1.1em;
    margin-bottom: 8px;
    max-width: 370px;
  }

  .intro-text-container {
    padding-bottom: 100px;
  }
}

@media (min-width: 551px) {
  .intro-text-container > h4:nth-child(2n) {
    margin: 13px 50px;
    font-size: 1.6em;
    margin-bottom: 8px;
  }

  .intro-text-container {
    padding-bottom: 155px;
  }
}

@media (max-width: 950px) and (min-width: 551px) {
  .header-nav {
    margin: 0 20px;
  }

  .header-logo {
    width: 108px;
  }

  .intro-text-container > h2 {
    margin: 150px 45px 0px 45px;
    max-width: 650px;
    font-size: 3.1em;
  }
}

@media (min-width: 951px) {
  .header-nav {
    margin: 0 30px;
  }
}

@media (max-width: 1450px) and (min-width: 951px) {
  .header-logo {
    width: 134px;
  }

  .intro-text-container > h2 {
    margin: 180px 150px 0px 150px;
    max-width: 650px;
    font-size: 3.1em;
  }

  .intro-text-container > h4:nth-child(2n) {
    margin: 13px 50px 8px 50px;
    font-size: 1.6em;
    font-weight: 400;
  }
}

@media (min-width: 1451px) {
  .header-logo {
    width: 167px;
  }

  .intro-text-container > h2 {
    margin: 180px 150px 0px 150px;
    max-width: 800px;
    font-size: 4em;
  }

  .intro-text-container > h4:nth-child(2n) {
    margin: 13px 0px;
    font-size: 1.6em;
    font-weight: 400;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  min-width: 288px;
}

.language-login-container {
  display: flex;
  width: fit-content;
}

.intro-text-container {
  min-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-text-container > h4:nth-child(2n) {
  font-weight: 400;
}
