@media (max-width: 450px) {
  .footer-container {
    padding: 70px 10px 0 10px;
  }
}

@media (min-width: 451px) {
  .footer-container {
    padding: 70px 40px 0 40px;
  }
}

.footer-content-container {
  padding: 0 25px 20px 25px;
  max-width: 1000px;
}

.footer-content-container > h2 {
  font-size: 1em;
  margin-bottom: 30px;
}

.footer-links-container {
  font-size: 0.8em;
}

.footer-container {
  min-width: 320px;
}

.language-button-container {
  margin-top: 20px;
}
