.login-card-container .incorrect-password > p {
  margin: 0;
  font-size: 0.8em;
}

.login-card-container .incorrect-password {
  color: white;
  background-color: #e87c03;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 16px;
}

.login-card-container .MuiFormHelperText-root {
  background: transparent !important;
  margin: 0 0 10px 0 !important;
  color: #ed6c02 !important;
}

.login-card-container .MuiInputLabel-root {
  color: #8c867b !important;
}

.login-card-container .MuiFilledInput-root {
  background: #333 !important;
  color: white;
  border-radius: 5px;
}

.login-card-container .MuiTextField-root {
  margin-bottom: 16px;
}

.login-card-container .MuiIconButton-root {
  font-size: 0.8em;
  color: #8c867b;
  margin-right: 1px;
}

#remember-me::placeholder {
  background-color: black;
  color: black;
}

.remember-me-container > span {
  margin-left: 2px;
}

#remember-me:checked:after {
  content: "\2713";
  font-size: 20px;
  position: absolute;
  top: -4px;
  left: 2px;
  color: black;
}

#remember-me {
  margin-right: 2px;
  -webkit-appearance: none;
  background-color: #b3b3b3;
  border: none;
  padding: 9px;
  border-radius: 3px;
  position: relative;
}

.remember-me-container {
  display: flex;
}

.form-details > a {
  text-decoration: none;
  color: white;
}

.form-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
}

.form-container > button:active {
  background: rgba(200, 102, 150, 0.8);
}

.form-container > button {
  color: white;
  background: red;
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 1em;
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 4px;
}

.card-container > h2 {
  margin-bottom: 28px;
  font-size: 2em;
}

.card-container {
  font-size: 1em;
  color: white;
}

.form-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  box-sizing: content-box;
  margin: auto;
  background: rgba(0, 0, 0, 0.75);
}

.login-card-container {
  min-width: 320px;
  width: 100%;
  margin: auto;
}

@media (min-width: 451px) {
  .card-container {
    padding: 48px 68px;
    width: 314px;
    height: 560px;
  }

  .login-card-container {
    padding-top: 100px;
  }
}

@media (max-width: 450px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 100px 25px 0 25px;
    height: 100%;
    background: rgba(0, 0, 0);
  }

  .login-card-container {
    height: 100%;
  }
}
